# Kevin Dang

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sqlite3
#!pip install pandasql
from pandasql import sqldf

In [2]:
# Start SQL connection
conn = sqlite3.connect('database.sqlite')

# Extract required columns from match table
match = pd.read_sql('''
                    SELECT id, season, league_id, date, home_team_api_id, away_team_api_id, 
                    home_team_goal, away_team_goal, B365H, B365D, B365A 
                    FROM Match
                    ''', conn)
match.rename(columns={'home_team_goal':'home_goals','away_team_goal':'away_goals'}, inplace=True)
match.head()

,id,season,league_id,date,home_team_api_id,away_team_api_id,home_goals,away_goals,B365H,B365D,B365A
0,1,2008/2009,1,2008-08-17 00:00:00,9987,9993,1,1,1.73,3.40,5.00
1,2,2008/2009,1,2008-08-16 00:00:00,10000,9994,0,0,1.95,3.20,3.60
2,3,2008/2009,1,2008-08-16 00:00:00,9984,8635,0,3,2.38,3.30,2.75
3,4,2008/2009,1,2008-08-17 00:00:00,9991,9998,5,0,1.44,3.75,7.50
4,5,2008/2009,1,2008-08-16 00:00:00,7947,9985,1,3,5.00,3.50,1.65

In [3]:
# Select the top 6 leagues in Europe
league = pd.read_sql('''
                     SELECT * FROM LEAGUE
                     WHERE name IN ("England Premier League", "France Ligue 1", "Germany 1. Bundesliga", 
                     "Italy Serie A", "Netherlands Eredivisie", "Spain LIGA BBVA")
                     ''', conn)
league.rename(columns={'name':'league'}, inplace=True)
league

      id  country_id                  league
0   1729        1729  England Premier League
1   4769        4769          France Ligue 1
2   7809        7809   Germany 1. Bundesliga
3  10257       10257           Italy Serie A
4  13274       13274  Netherlands Eredivisie
5  21518       21518         Spain LIGA BBVA

In [4]:
home_team_names = pd.read_sql('SELECT team_api_id AS home_team_api_id, team_long_name AS home_team FROM TEAM', conn)
home_team_names.head()

   home_team_api_id          home_team
0              9987           KRC Genk
1              9993       Beerschot AC
2             10000   SV Zulte-Waregem
3              9994   Sporting Lokeren
4              9984  KSV Cercle Brugge

In [5]:
away_team_names = pd.read_sql('SELECT team_api_id AS away_team_api_id, team_long_name AS away_team FROM TEAM', conn)
away_team_names.head()

   away_team_api_id          away_team
0              9987           KRC Genk
1              9993       Beerschot AC
2             10000   SV Zulte-Waregem
3              9994   Sporting Lokeren
4              9984  KSV Cercle Brugge

In [6]:
home_team_attributes = pd.read_sql('SELECT * FROM Team_Attributes',conn)
home_team_attributes.columns = ['home_{}'.format(x) if x not in ['id','date'] else x for x in home_team_attributes.columns]
home_team_attributes.drop('home_team_fifa_api_id', axis=1, inplace=True)
home_team_attributes.head()

,id,home_team_api_id,date,home_buildUpPlaySpeed,home_buildUpPlaySpeedClass,home_buildUpPlayDribbling,home_buildUpPlayDribblingClass,home_buildUpPlayPassing,home_buildUpPlayPassingClass,home_buildUpPlayPositioningClass,...,home_chanceCreationShooting,home_chanceCreationShootingClass,home_chanceCreationPositioningClass,home_defencePressure,home_defencePressureClass,home_defenceAggression,home_defenceAggressionClass,home_defenceTeamWidth,home_defenceTeamWidthClass,home_defenceDefenderLineClass
0,1,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [7]:
away_team_attributes = pd.read_sql('SELECT * FROM Team_Attributes',conn)
away_team_attributes.columns = ['away_{}'.format(x) if x not in ['id','date'] else x for x in away_team_attributes.columns]
away_team_attributes.drop('away_team_fifa_api_id', axis=1, inplace=True)
away_team_attributes.head()

,id,away_team_api_id,date,away_buildUpPlaySpeed,away_buildUpPlaySpeedClass,away_buildUpPlayDribbling,away_buildUpPlayDribblingClass,away_buildUpPlayPassing,away_buildUpPlayPassingClass,away_buildUpPlayPositioningClass,...,away_chanceCreationShooting,away_chanceCreationShootingClass,away_chanceCreationPositioningClass,away_defencePressure,away_defencePressureClass,away_defenceAggression,away_defenceAggressionClass,away_defenceTeamWidth,away_defenceTeamWidthClass,away_defenceDefenderLineClass
0,1,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,Organised,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,Organised,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,Organised,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,Organised,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,Organised,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover

In [8]:
# Join all dataframes into one
df = sqldf('''
           SELECT * FROM match
           INNER JOIN league 
               ON match.league_id = league.id
           INNER JOIN home_team_names 
               ON match.home_team_api_id = home_team_names.home_team_api_id
           INNER JOIN away_team_names 
               ON match.away_team_api_id = away_team_names.away_team_api_id
           LEFT JOIN home_team_attributes 
               ON match.home_team_api_id = home_team_attributes.home_team_api_id
               AND match.date = home_team_attributes.date
           LEFT JOIN away_team_attributes 
               ON match.away_team_api_id = away_team_attributes.away_team_api_id
               AND match.date = away_team_attributes.date
           ''')

# remove duplicate columns
df = df.loc[:, ~df.columns.duplicated()]
df

,id,season,league_id,date,home_team_api_id,away_team_api_id,home_goals,away_goals,B365H,B365D,...,away_chanceCreationShooting,away_chanceCreationShootingClass,away_chanceCreationPositioningClass,away_defencePressure,away_defencePressureClass,away_defenceAggression,away_defenceAggressionClass,away_defenceTeamWidth,away_defenceTeamWidthClass,away_defenceDefenderLineClass
0,1729,2008/2009,1729,2008-08-17 00:00:00,10260,10261,1,1,1.29,5.50,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
1,1730,2008/2009,1729,2008-08-16 00:00:00,9825,8659,1,0,1.20,6.50,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
2,1731,2008/2009,1729,2008-08-16 00:00:00,8472,8650,0,1,5.50,3.60,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
3,1732,2008/2009,1729,2008-08-16 00:00:00,8654,8528,2,1,1.91,3.40,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
4,1733,2008/2009,1729,2008-08-17 00:00:00,10252,8456,4,2,1.91,3.40,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17028,24553,2015/2016,21518,2015-10-25 00:00:00,9906,10267,2,1,1.57,3.80,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
17029,24554,2015/2016,21518,2015-10-24 00:00:00,9864,9783,2,0,2.25,3.25,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
17030,24555,2015/2016,21518,2015-10-26 00:00:00,8315,9869,3,0,1.53,4.00,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
17031,24556,2015/2016,21518,2015-10-24 00:00:00,7878,8603,1,1,2.30,3.25,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None
17032,24557,2015/2016,21518,2015-10-23 00:00:00,8370,8558,3,0,2.20,3.40,...,NaN,None,None,NaN,None,NaN,None,NaN,None,None

In [9]:
# Final dataframe
soccer = sqldf('''
               SELECT id, season, league_id, league, date, home_team_api_id, home_team, away_team_api_id, away_team,
               home_goals, away_goals, B365H, B365D, B365A, home_buildUpPlayDribblingClass, home_buildUpPlayPassingClass,
               home_chanceCreationPassingClass, home_chanceCreationPositioningClass, home_chanceCreationShootingClass,
               home_chanceCreationCrossingClass, home_defenceAggressionClass, home_defencePressureClass, 
               home_defenceTeamWidthClass, home_defenceDefenderLineClass, away_buildUpPlayDribblingClass, 
               away_buildUpPlayPassingClass, away_chanceCreationPassingClass, away_chanceCreationPositioningClass, 
               away_chanceCreationShootingClass, away_chanceCreationCrossingClass, away_defenceAggressionClass, 
               away_defencePressureClass, away_defenceTeamWidthClass, away_defenceDefenderLineClass
               FROM df 
              ''')
soccer.to_csv('soccer.csv',index=False)
soccer

,id,season,league_id,league,date,home_team_api_id,home_team,away_team_api_id,away_team,home_goals,...,away_buildUpPlayDribblingClass,away_buildUpPlayPassingClass,away_chanceCreationPassingClass,away_chanceCreationPositioningClass,away_chanceCreationShootingClass,away_chanceCreationCrossingClass,away_defenceAggressionClass,away_defencePressureClass,away_defenceTeamWidthClass,away_defenceDefenderLineClass
0,1729,2008/2009,1729,England Premier League,2008-08-17 00:00:00,10260,Manchester United,10261,Newcastle United,1,...,None,None,None,None,None,None,None,None,None,None
1,1730,2008/2009,1729,England Premier League,2008-08-16 00:00:00,9825,Arsenal,8659,West Bromwich Albion,1,...,None,None,None,None,None,None,None,None,None,None
2,1731,2008/2009,1729,England Premier League,2008-08-16 00:00:00,8472,Sunderland,8650,Liverpool,0,...,None,None,None,None,None,None,None,None,None,None
3,1732,2008/2009,1729,England Premier League,2008-08-16 00:00:00,8654,West Ham United,8528,Wigan Athletic,2,...,None,None,None,None,None,None,None,None,None,None
4,1733,2008/2009,1729,England Premier League,2008-08-17 00:00:00,10252,Aston Villa,8456,Manchester City,4,...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17028,24553,2015/2016,21518,Spain LIGA BBVA,2015-10-25 00:00:00,9906,Atlético Madrid,10267,Valencia CF,2,...,None,None,None,None,None,None,None,None,None,None
17029,24554,2015/2016,21518,Spain LIGA BBVA,2015-10-24 00:00:00,9864,Málaga CF,9783,RC Deportivo de La Coruña,2,...,None,None,None,None,None,None,None,None,None,None
17030,24555,2015/2016,21518,Spain LIGA BBVA,2015-10-26 00:00:00,8315,Athletic Club de Bilbao,9869,Real Sporting de Gijón,3,...,None,None,None,None,None,None,None,None,None,None
17031,24556,2015/2016,21518,Spain LIGA BBVA,2015-10-24 00:00:00,7878,Granada CF,8603,Real Betis Balompié,1,...,None,None,None,None,None,None,None,None,None,None
17032,24557,2015/2016,21518,Spain LIGA BBVA,2015-10-23 00:00:00,8370,Rayo Vallecano,8558,RCD Espanyol,3,...,None,None,None,None,None,None,None,None,None,None